<form {{action "signupUser" on="submit"}}>
{{input value=username placeholder="username"}}<br>
{{input value=email placeholder="email"}}<br>
{{input value=password type="password" placeholder="password"}}<br>
{{input type="submit" value="Sign Up"}}
</form>
